# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables (API keys etc.)
.env
GOOGLE_API_KEY = AIzaSyCJNf4AhO-uNkPF5cX8Gf-UrKq-ZpgraTs

# Jupyter notebook cache
.ipynb_checkpoints/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Temporary files
*.log
*.tmp

# Large raw data (optional)
data/raw/large_files/